In [2]:
import os
import pandas as pd

In [6]:
cwd = os.getcwd()
print(cwd)

C:\SFS

In [18]:
head = pd.read_csv(os.path.join(cwd, 'data', 'results', 'db-unification','head_DBU-COMPLETE.csv'), index_col = 'DATA')
meta = pd.read_csv(os.path.join(cwd, 'data', 'results', 'db-unification','meta_DBU-COMPLETE.csv'), index_col = 'CODICE')
head.index = pd.to_datetime(head.index)

In [22]:
head.tail()

,PO012002NU0008,PO012026NU3021,PO0120500RZ001,PO012070NU1007,PO0120750R2020,PO0120790RZ001,PO012090NU2009,PO0121180U0005,PO012123NUP001,PO0121300RZ001,...,FOG24,FOG27,FOG34,FOG41,FOG56,FOG72,PO015209NR0264,CM.PS.002,PO015209NR0336,PO015209NRA683
DATA,,,,,,,,,,,,,,,,,,,,,
2022-03-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,121.71,127.02,124.97,126.14
2022-04-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,126.57,124.83,125.89
2022-05-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,126.55,124.35,125.61
2022-06-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,126.06,124.15,125.34
2022-07-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,125.88,123.83,125.08

In [35]:
start = '2015-01-01'
end = '2015-01-31'

In [36]:
sel = head.loc[head.index.isin(pd.date_range(start, end)),:].transpose()
join = sel.merge(meta.loc[sel.index, ['lat', 'lon']], left_index = True, right_index = True)
join.columns = ['value', 'lat', 'lon']

In [37]:
join.to_csv(os.path.join(cwd, '2015-01-piezo.csv'))